#about{"data-role" => "page"}
  %div{"data-role" => "header" , "data-backbtn"=>"false"}
    %h1 GMINDAPP
  %div{"data-role" => "content"}
    %div(style="text-align:center")
      = image_tag "logo_gmindapp.png"
    
    %h2 Requirements
    %ul
      %li Rails 3.2
      %li Rubygems 1.8.7
    %h2 Installation
    %ul
      %li gem 'gmindapp'
      %li bundle
      %li rails generate gmindapp:install
      %li rake db:seed
      %li when update app/gmindapp/index.mm, run rake gmindapp:update
