/= render :partial=> "gmindapp/setup_layout_vars"
%div{"data-context" => "a#default", "data-hash" => "crumbs", "data-id" => "menu", "data-role" => "panel"}
  #main{"data-role" => "page"}
    %div{"data-role" => "header", "data-theme" => "b", "data-backbtn"=>"false"}
      - if login?
      %h1= current_user.name
      - else
        %h1 GMINDAPP
    %div{"data-role" => "content"}
      %ul{"data-role" => "listview", "data-theme" => "g"}
        %li
          %a{"data-panel" => "main", :href => "/gmindapp/help"} คู่มือ
        - if !login?
          %li
            %a{:href=>new_session_path, "data-rel"=>"dialog", "data-panel" => "main"} เข้าใช้ระบบ
          %li
            %a{:href=>new_identity_path, "data-rel"=>"dialog", "data-panel" => "main"} สร้างผู้ใช้ใหม่
        - gmodules.each do |m|
          - if m[:confirm]
            %li
              %a{"data-panel"=>"main", :onclick=>"if (confirm('กรุณายืนยัน')) {location.hash='#{m[:url]}'};"}= m[:name]
          - else
            %li
              %a{"data-panel"=>"main", :href=> m[:url]}= m[:name]
        - if login?
          %li
            %a{"data-panel" => "main", :href => logout_path} ออกจากระบบ
