%h3 Documentation
:textile
  h4. Requirements
  * Rails 2.3.10
  * Rubygems 1.5.2

  h4. Installation
  * unzip this template and use it as a starting point for new Rails application
  * edit public/index.mm
  * rake db:create
  * rake db:migrate
  * rake db:seed
  * start webrick server
  * access http://localhost:3000/gma/update_app
  * edit app/controllers and app/views
